@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 260px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  img {
    width: 100%;
    height: 300px;
  }
}
.home {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 295px);
  display: flex;
  align-items: center;
  h1 {
    text-align: center;
    font-family: "Lobster Two", cursive;
  }
  &__quran {
    width: 500px;
  }
  &__times {
    width: 500px;
  }
}

@media (max-width: 1536px) {
  .container {
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 100px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .home {
    img {
      height: 200px;
    }
    &__quran {
      width: 300px;
    }
    &__times {
      width: 300px;
    }
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home {
    img {
      height: 200px;
    }
    &__quran {
      width: 300px;
    }
    &__times {
      width: 300px;
    }
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}
