@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.times{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &__title{
        font-family: "Lobster Two", cursive;
        text-align: center;
        font-weight: normal;
    }
    &__date{
        font-weight: 200;
        text-align: end;
    }

}