*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.App{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    margin-top: 148px;
    flex: 1 1 auto;
  min-height: calc(100vh - 295px);

  background-image: url("./pages/home/homeUzor.jpg");

}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 260px;
  }

  .laoding{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #fff;
  }
  
  
  @media (max-width: 1536px) {
    .container {
      width: 100%;
      max-width: 1536px;
      margin: 0 auto;
      padding: 0 100px;
    }
  }
  
  @media (max-width: 1280px) {
    .container {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 50px;
    }
  }
  @media (max-width: 1024px) {
    .container {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 40px;
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      padding: 0 30px;
    }
  }
  
  @media (max-width: 640px) {
    .container {
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
  
  @media (max-width: 425px) {
    .container {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }
  }
  